  macro_quotes: macro_quotes {
    compatible = "zmk,behavior-macro";
    label = "macro_quotes";
    #binding-cells = <0>;
    bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
  };
  macro_dquotes: macro_dquotes {
    compatible = "zmk,behavior-macro";
    label = "macro_dquotes";
    #binding-cells = <0>;
    bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
  };
  macro_braces: macro_braces {
    compatible = "zmk,behavior-macro";
    label = "macro_braces";
    #binding-cells = <0>;
    bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
  };
  macro_parens: macro_parens {
    compatible = "zmk,behavior-macro";
    label = "macro_parens";
    #binding-cells = <0>;
    bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
  };
  macro_brackets: macro_brackets {
    compatible = "zmk,behavior-macro";
    label = "macro_brackets";
    #binding-cells = <0>;
    bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
  };
  macro_kinesis: macro_kinesis {
    compatible = "zmk,behavior-macro";
    label = "macro_kinesis";
    #binding-cells = <0>;
    bindings = <&kp LS(K)>, <&kp I>, <&kp N>, <&kp E>, <&kp S>, <&kp I>, <&kp S>;
  };
  macro_personal_email: macro_personal_email {
    compatible = "zmk,behavior-macro";
    label = "macro_personal_email";
    #binding-cells = <0>;
    bindings = <&macro_tap &kp K &kp O &kp B &kp I &kp DOT &kp M &kp E &kp D &kp R &kp I &kp S &kp H &kp AT_SIGN &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
  };
  macro_work_email: macro_work_email {
    compatible = "zmk,behavior-macro";
    label = "macro_work_email";
    #binding-cells = <0>;
    bindings = <&macro_tap &kp B &kp J &kp C &kp N4 &kp N3 &kp N6 &kp AT_SIGN &kp M &kp O &kp T &kp O &kp R &kp O &kp L &kp A &kp S &kp O &kp L &kp U &kp T &kp I &kp O &kp N &kp S &kp DOT &kp C &kp O &kp M>;
  };

  macro_not_equal_to_operator: macro_not_equal_to_operator {
    compatible = "zmk,behavior-macro";
    label = "macro_not_equal_to_operator";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &kp EXCLAMATION &kp EQUAL>;
  };
  macro_home_dir: macro_home_dir {
    compatible = "zmk,behavior-macro";
    label = "macro_home_dir";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &kp TILDE &kp SLASH >;
  };
  macro_dir_up: macro_dir_up {
    compatible = "zmk,behavior-macro";
    label = "macro_dir_up";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &kp DOT &kp DOT &kp SLASH>;
  };

  macro_triple_backtick: macro_triple_backtick {
    compatible = "zmk,behavior-macro";
    label = "macro_triple_backtick";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp ENTER>, <&macro_release &kp LSHFT>, <&macro_tap &kp GRAVE &kp GRAVE &kp GRAVE>, <&macro_press &kp LSHFT>, <&macro_tap &kp ENTER>, <&macro_release &kp LSHFT>;
  };


  // tmux layer macros
  macro_tmux_prefix: macro_tmux_prefix {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_prefix";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &kp RC(U)>;
  };
  macro_tmux_detach: macro_tmux_detach {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_detach";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp D>;
  };
  macro_tmux_reload_setting: macro_tmux_reload_setting {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_reload_setting";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp U>;
  };
  macro_tmux_save_session: macro_tmux_save_session {
    compatible = "zmk,behavior-macro";
    label = "MACRO_TMUX_SAVE_SESSION";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp RC(S)>;
  };
  macro_tmux_load_session: macro_tmux_load_session {
    compatible = "zmk,behavior-macro";
    label = "MACRO_TMUX_LOAD_SESSION";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp RC(R)>;
  };
  // copy mode in tmux using the yank plugin
  macro_tmux_copy_current_line: macro_tmux_copy_current_line {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_copy_current_line";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp Y>;
  };
  macro_tmux_copy_pwd: macro_tmux_copy_pwd {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_copy_pwd";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp RS(Y)>;
  };
  macro_tmux_copy_mode_search_up: macro_tmux_copy_mode_search_up {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_copy_mode_search_up";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp LBKT &kp QUESTION>;
  };

  macro_tmux_thumbs_plugin: macro_tmux_thumbs_plugin {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_thumbs_plugin";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp RC(Y)>;
  };
  macro_tmux_extrakto_plugin: macro_tmux_extrakto_plugin {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_extrakto_plugin";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp RC(RS(Y))>;
  };
  // end of copy mode in tmux using the yank plugin

  macro_tmux_zoom_pane: macro_tmux_zoom_pane {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_zoom_pane";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp Z>;
  };
  macro_tmux_new_window: macro_tmux_new_window {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_new_window";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp C>;
  };
  macro_tmux_rename_window: macro_tmux_rename_window {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_rename_window";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp COMMA>;
  };
  macro_tmux_rename_session: macro_tmux_rename_session {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_rename_session";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp DOLLAR>;
  };
  // This is done using my tmux-sessionizer that uses fzf.
  macro_tmux_search: macro_tmux_search {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_search";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp F>;
  };
  macro_tmux_horizontal_pane_split: macro_tmux_horizontal_pane_split {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_horizontal_pane_split";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp H>;
  };
  macro_tmux_vertical_pane_split: macro_tmux_vertical_pane_split {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_vertical_pane_split";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp V>;
  };
  macro_tmux_kill_window_or_pane: macro_tmux_kill_window_or_pane {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_kill_window_or_pane";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp X>;
  };
  macro_tmux_kill_session: macro_tmux_kill_session {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_kill_session";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp LS(X)>;
  };
  macro_tmux_list_sessions: macro_tmux_list_sessions {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_list_sessions";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp S>;
  };
  macro_tmux_new_session: macro_tmux_new_session {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_new_session";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp O>;
  };
  macro_tmux_move_window_left: macro_tmux_move_window_left {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_move_window_left";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp HOME>;
  };
  macro_tmux_move_window_right: macro_tmux_move_window_right {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_move_window_right";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp END>;
  };
  macro_tmux_switch_to_last_window: macro_tmux_switch_to_last_window {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_switch_to_last_window";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp L>;
  };
  macro_tmux_switch_to_last_session: macro_tmux_switch_to_last_session {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_last_session";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp RS(L)>;
  };
  macro_tmux_go_to_window_one: macro_tmux_go_to_window_one {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_go_to_window_one";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp N1>;
  };
  macro_tmux_go_to_window_two: macro_tmux_go_to_window_two {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_go_to_window_two";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp N2>;
  };
  macro_tmux_go_to_window_three: macro_tmux_go_to_window_three {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_go_to_window_three";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp N3>;
  };
  macro_tmux_go_to_window_four: macro_tmux_go_to_window_four {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_go_to_window_four";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp N4>;
  };
  macro_tmux_go_to_window_five: macro_tmux_go_to_window_five {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_go_to_window_five";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp N5>;
  };
  macro_tmux_go_to_window_six: macro_tmux_go_to_window_six {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_go_to_window_six";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp N6>;
  };
  macro_tmux_go_to_window_seven: macro_tmux_go_to_window_seven {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_go_to_window_seven";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp N7>;
  };
  macro_tmux_go_to_window_eighth: macro_tmux_go_to_window_eighth {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_go_to_window_eighth";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp N8>;
  };
  macro_tmux_go_to_window_nine: macro_tmux_go_to_window_nine {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_go_to_window_nine";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings = <&macro_tap &macro_tmux_prefix &kp N9>;
  };
